<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 <p> Open application in new url, and then continue to browse through the website.</p>
  <p>Click through the help, about, and home page to browse content.</p>
   <p>Open up the w3schools link to search new ways to code html.</p>
    <p>Have fun navigating through the website.</p> 