<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
 <a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a> 
 
<img src="https://c402277.ssl.cf1.rackcdn.com/photos/13100/images/featured_story/BIC_128.png?1485963152" alt="some_text" style="width:width;height:height;"> 